.range_slider {
  appearance: none;
  position: absolute;
  bottom: -0.75rem;
  height: 1.1rem;
  width: 100%;
  overflow: hidden;
  background: transparent;
  
  /* Thumb of input[type="range"] */
  &::-webkit-slider-thumb
  {
    appearance: none;
    height: 0;
    width: 0;
    box-shadow: -750px 0 100px 400px #6366f1,
                -550px 0 100px 400px #a855f7,
                -400px 0 100px 400px #ec4899;
    transition: all .5s ease-in-out;
  }
}